<% @users.each do |u| %>
<!-- image -->
<div class="container">
<% if u.image.blank? %>
    <%= image_tag u.gravatar_url %>
<% else %>
    <%= image_tag u.image, size: '80' %>
<% end %>
<h2>
<%= link_to u.name, user_path(u) %>
</h2>
<% if current_user.friend_request_status(u) == nil && current_user != u %>
    <%= button_to 'add friend', friend_request_friendable_path(u), method: :put, params: { url: request.original_url }, class: "btn" %>
<% end %> <br>
</div>
<% end %>