<div class="container" style="width: 60%; text-align: center;">
<% if @user.image.blank? %>
    <%= image_tag @user.gravatar_url %>
<% else %>
    <%= image_tag @user.image %>
<% end %><br>
<strong>Name:</strong> <%= @user.name %> <br>
<strong>E-mail:</strong> <%= @user.email %><br>
<!-- friend request button -->
<% if current_user == @user %>
    <%= link_to 'Edit Profile', edit_user_registration_path(current_user) %>
<% elsif current_user.friend_request_status(@user) == 'friends' %>
    Friend
<% elsif current_user.friend_request_status(@user) == nil %>
    <%= button_to 'add friend', friend_request_friendable_path(@user), method: :put, params: { url: request.original_url }, class: 'btn' %>
<% elsif current_user.friend_request_status(@user) == 'pending' %>
    friend request sent
<% elsif current_user.friend_request_status(@user) == 'awaiting reply' %>
    <%= button_to 'accept friend request', friend_request_accept_friendable_path(@user), method: :put, params: { url: request.original_url }, class: 'btn' %>
    <%= button_to 'reject friend request', friend_request_reject_friendable_path(@user), method: :delete, params: { url: request.original_url }, class: 'btn' %>
<% end %> 
<br>

<!-- new post form -->
<%= render '/posts/form' if current_user == @user%><br>
<br>

<!-- post display & like button -->
<%= render '/posts/post' %>

<strong>Friends:</strong><br>
<% @user.friends.each do |f| %>
<%= link_to f.name, user_path(f) %><br>
<% end %>
</div>