<style>
    .form {
        resize: none;
    }
</style>
<div class="container">
<div class="form">
<%= form_for @post, html: { multipart: true } do |f| %>
<%= f.label :content, 'New post' %><br>
<%= f.text_area :content, size: '40x5', class: 'form' %><br>
<%= f.hidden_field :url, value: request.original_url %>
<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'btn' %><br>
<%= f. submit 'post', class: 'btn'%>
<% end %>
</div>
</div>

<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>