<style>
    .content {
        font-size: 1.3em;
        font-weight: bold;
    }
</style>

<% @posts.each do |p| %>
    <div class="container">
    <%= image_tag p.picture.url if p.picture? %>
    <div class="content"><%= p.content %></div><br>
     by <%= p.author.name %> at <%= p.created_at.to_s(:long) %><br>
<!-- like button -->
    <%= pluralize(p.liking_users.count, 'like') %>
    <% if UserPost.find_by(liked_post_id: Post.find(p.id), liking_user_id: current_user.id).nil? %>
        <%= button_to 'Like', like_post_path(p), params: {url: request.original_url}, class: 'btn'  %>
    <% else %>
        <%= button_to 'Unlike', unlike_post_path(p), params: {url: request.original_url}, method: :delete, class: 'btn' %>
    <% end %>
    <br>

<!-- comment -->
    <strong>Comment:</strong>
    <div class="comment">
    <% p.comments.each do |c| %>
        <br>
        <div class="comment-item">
            <strong><%= c.content %></strong> by <%= c.user.name %><br>
        </div>
    <% end %>
    <%= form_for :comment, method: :post, url: comments_path do |f| %>
        <%= f.text_field :content %>
        <%= f.hidden_field :url, value: request.original_url %>
        <%= f.hidden_field :post_id, value: p.id %>
        <%= f. submit 'post', class: 'btn'%>
    <% end %>
    </div>
<br>
</div>
<% end %>
