/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
*{
    font-family: sans-serif;
}

.container {
    margin: auto;
    width: 40%;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: left;
    margin-top: 30px;
}
a {
    color: black;
    text-decoration: underline;
}
a:hover {
    color: #808080;
    text-decoration: none;
}

.btn {
    background-color: #004d99;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
}
.btn:hover {
    background-color: #66b3ff;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
}
.notice {
    background-color: #b3ffb3;
    color: #00e600;
    margin: auto;
    width: 60%;
    border: 2px solid #00e600;
    border-radius: 15px;
    padding: 20px;
    margin-top: 25px;
    text-align: center;
}
.alert {
    color: red;
    background-color: #ff9999;;
    margin: auto;
    width: 60%;
    border: 2px solid red;
    border-radius: 15px;
    padding: 20px;
    margin-top: 25px;
    text-align: center;
}

.comment-item {
    border-bottom: 1px solid #b3b3b3;
    margin: 5px;
}