<!DOCTYPE html>

<style>
  header {
    background: #004d99;
    padding: 10px 0px;
  }
  th > a {
    text-decoration: none;
    color: white;
    padding-left: 50px;
  }
  th > a:hover {
    text-decoration: none;
    color: white;
    padding-left: 50px;
  }

</style>

<html>
<head>
  <title>OdinFacebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <table>
    <th><%= link_to current_user.email, user_path(current_user) if !current_user.nil? %></th>
    <% if user_signed_in? %>
      <th><%= link_to 'Users', users_path %></th>
      <th><%= link_to 'Posts', posts_path %></th>
      <th><%= link_to 'Notifications', '/notification' %></th>
      <th><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></th>
    <% else %>
      <th><%= link_to 'Home', root_path %></th>
      <th><%= link_to 'Sign Up', new_user_registration_path %></th>
      <th><%= link_to 'Log In', new_user_session_path %></th>
    <% end %>
  </table>
  
</header>
<body>
  <% if !notice.nil? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if !alert.nil? %>
    <p class="alert"><%= alert %></p>
  <% end %>

<%= yield %>

</body>
</html>

